<nav class="relative grid grid-flow-col w-full p-5 items-center select-none">
    <a class="size-fit absolute ml-1.5" href="/">
        <img src="./static/mov-transparent.svg" class="w-24"/>
    </a>

    <div class="ml-auto size-fit">
        <a href="https://github.com/mov-cli/mov-cli/wiki">
            <button class="bg-white hover:bg-blue-200 text-stone-950 text-lg px-5 transition-colors duration-300 
                rounded-xl will-change-transform">
                Wiki
            </button>
        </a>
    </div>
</nav>