@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Space Grotesk;
    font-weight: 300;
    src: url(./font/SpaceGrotesk-Light.ttf);
}

@font-face {
    font-family: Space Grotesk;
    font-weight: 400;
    src: url(./font/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: Space Grotesk;
    font-weight: 500;
    src: url(./font/SpaceGrotesk-Medium.ttf);
}

@font-face {
    font-family: Space Grotesk;
    font-weight: 600;
    src: url(./font/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
    font-family: Space Grotesk;
    font-weight: 700;
    src: url(./font/SpaceGrotesk-Bold.ttf);
}



@layer components {
    .swiper-slide {
        @apply bg-neutral-950 selection:bg-gray-800 font-spacegrotesk font-medium text-white;
    }
}

@layer base {
    nav {
        @apply selection:bg-gray-800 font-spacegrotesk font-medium text-white;
    }
}